<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>startseite</servlet-name>
    <servlet-class>budget.Startseite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kontoverwaltung</servlet-name>
    <servlet-class>budget.Kontoverwaltung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>neuesKonto</servlet-name>
    <servlet-class>budget.NeuesKonto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kontoEinfuegen</servlet-name>
    <servlet-class>budget.KontoEinfuegen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kontoAendern</servlet-name>
    <servlet-class>budget.KontoAendern</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kontoUpdaten</servlet-name>
    <servlet-class>budget.KontoUpdaten</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kategorieverwaltung</servlet-name>
    <servlet-class>budget.Kategorieverwaltung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>neueKategorie</servlet-name>
    <servlet-class>budget.NeueKategorie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kategorieEinfuegen</servlet-name>
    <servlet-class>budget.KategorieEinfuegen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kategorienAendern</servlet-name>
    <servlet-class>budget.KategorienAendern</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kategorienUpdaten</servlet-name>
    <servlet-class>budget.KategorienUpdaten</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>transaktionsverwaltung</servlet-name>
    <servlet-class>budget.Transaktionsverwaltung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>neueTransaktion</servlet-name>
    <servlet-class>budget.NeueTransaktion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>transaktionEinfuegen</servlet-name>
    <servlet-class>budget.TransaktionEinfuegen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>transaktionAendern</servlet-name>
    <servlet-class>budget.TransaktionAendern</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>transaktionenUpdaten</servlet-name>
    <servlet-class>budget.TransaktionenUpdaten</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>neueZyklischeTransaktion</servlet-name>
    <servlet-class>budget.NeueZyklischeTransaktion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>zyklischeTransaktionEinfuegen</servlet-name>
    <servlet-class>budget.ZyklischeTransaktionEinfuegen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenerateChart</servlet-name>
    <servlet-class>budget.GenerateChart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>auswertung</servlet-name>
    <servlet-class>budget.StatistikKategorien</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>planungsverwaltung</servlet-name>
    <servlet-class>budget.Planungsverwaltung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>neuePlanung</servlet-name>
    <servlet-class>budget.NeuePlanung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>planungEinfuegen</servlet-name>
    <servlet-class>budget.PlanungEinfuegen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>planungAendern</servlet-name>
    <servlet-class>budget.PlanungAendern</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>planungUpdaten</servlet-name>
    <servlet-class>budget.PlanungUpdaten</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>zeigePlanung</servlet-name>
    <servlet-class>budget.ZeigePlanung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>planChart</servlet-name>
    <servlet-class>budget.PlanChart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>auswertungverlauf</servlet-name>
    <servlet-class>budget.StatistikVerlauf</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>transaktionen</servlet-name>
    <servlet-class>budget.Transaktionen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>auswertungmonat</servlet-name>
    <servlet-class>budget.StatistikMonatsanalyse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>auswertungart</servlet-name>
    <servlet-class>budget.StatistikArtanalyse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>klonePlanung</servlet-name>
    <servlet-class>budget.KlonePlanung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>klonePlanungEinfuegen</servlet-name>
    <servlet-class>budget.KlonePlanungEinfuegen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kontouebersicht</servlet-name>
    <servlet-class>budget.Kontouebersicht</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>authentifizierung</servlet-name>
    <servlet-class>budget.Authentifizierung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>abmelden</servlet-name>
    <servlet-class>budget.Abmelden</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>neueregel</servlet-name>
    <servlet-class>budget.NeueRegel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>regeleinfuegen</servlet-name>
    <servlet-class>budget.RegelEinfuegen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>regelverwaltung</servlet-name>
    <servlet-class>budget.Regelverwaltung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>einstellungen</servlet-name>
    <servlet-class>budget.Einstellungen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>startseite</servlet-name>
    <url-pattern>/startseite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kontoverwaltung</servlet-name>
    <url-pattern>/kontoverwaltung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>neuesKonto</servlet-name>
    <url-pattern>/neuesKonto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kontoEinfuegen</servlet-name>
    <url-pattern>/kontoEinfuegen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kontoAendern</servlet-name>
    <url-pattern>/kontoAendern</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kontoUpdaten</servlet-name>
    <url-pattern>/kontoUpdaten</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kategorieverwaltung</servlet-name>
    <url-pattern>/kategorieverwaltung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>neueKategorie</servlet-name>
    <url-pattern>/neueKategorie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kategorieEinfuegen</servlet-name>
    <url-pattern>/kategorieEinfuegen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kategorienAendern</servlet-name>
    <url-pattern>/kategorienAendern</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kategorienUpdaten</servlet-name>
    <url-pattern>/kategorienUpdaten</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transaktionsverwaltung</servlet-name>
    <url-pattern>/transaktionsverwaltung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>neueTransaktion</servlet-name>
    <url-pattern>/neueTransaktion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transaktionEinfuegen</servlet-name>
    <url-pattern>/transaktionEinfuegen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transaktionAendern</servlet-name>
    <url-pattern>/transaktionAendern</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transaktionenUpdaten</servlet-name>
    <url-pattern>/transaktionenUpdaten</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>neueZyklischeTransaktion</servlet-name>
    <url-pattern>/neueZyklischeTransaktion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zyklischeTransaktionEinfuegen</servlet-name>
    <url-pattern>/zyklischeTransaktionEinfuegen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateChart</servlet-name>
    <url-pattern>/chart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auswertung</servlet-name>
    <url-pattern>/auswertung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>planungsverwaltung</servlet-name>
    <url-pattern>/planungsverwaltung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>neuePlanung</servlet-name>
    <url-pattern>/neuePlanung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>planungEinfuegen</servlet-name>
    <url-pattern>/planungEinfuegen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>planungAendern</servlet-name>
    <url-pattern>/planungAendern</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>planungUpdaten</servlet-name>
    <url-pattern>/planungUpdaten</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zeigePlanung</servlet-name>
    <url-pattern>/zeigePlanung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>planChart</servlet-name>
    <url-pattern>/planChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transaktionen</servlet-name>
    <url-pattern>/transaktionen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auswertungverlauf</servlet-name>
    <url-pattern>/auswertungverlauf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auswertungmonat</servlet-name>
    <url-pattern>/auswertungmonat</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>auswertungart</servlet-name>
    <url-pattern>/auswertungart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>klonePlanung</servlet-name>
    <url-pattern>/klonePlanung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>klonePlanungEinfuegen</servlet-name>
    <url-pattern>/klonePlanungEinfuegen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kontouebersicht</servlet-name>
    <url-pattern>/kontouebersicht</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>authentifizierung</servlet-name>
    <url-pattern>/authentifizierung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>abmelden</servlet-name>
    <url-pattern>/abmelden</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>neueregel</servlet-name>
    <url-pattern>/neueregel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>regeleinfuegen</servlet-name>
    <url-pattern>/regeleinfuegen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>regelverwaltung</servlet-name>
    <url-pattern>/regelverwaltung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>einstellungen</servlet-name>
    <url-pattern>/einstellungen</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>DBusername</param-name>
    <param-value>budget</param-value>
  </context-param>
  <context-param>
    <param-name>DBuserpassword</param-name>
    <param-value>budget</param-value>
  </context-param>
  <context-param>
    <param-name>DBconnectstring</param-name>
    <param-value>jdbc:postgresql://localhost:5432/budget</param-value>
  </context-param>
</web-app>